html, body {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
#container {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#banner {
    width: 100%;
    background: green;
    height: 40px;
    color: white;
    text-align: center;
    font-family: 'Lora', serif;
    border: 0;
}

#navigation_bar {
    width: 960px;
    background: black;
    height: 25px;
    color: white;
    text-align: center;
    font-family: 'Lora', serif;
    margin-left: auto;
    margin-right: auto;
}

#navigation_bar a {
    color: #ffffff;
    text-decoration: none;
}

#navigation_bar a:hover {
    color: #530DFF;
}



.nav_tab {
    margin-right: 2em;
    margin-left: 2em;
}

.main_content {
    width: 960px;
    background: purple;
    height: 500px;
    color: white;
    text-align: center;
    margin-top: -20px;
    font-family: 'Cabin', sans-serif;
}

#isabelle_headshot {
    height: 320px;
    width: 320px;
    margin-left: -4px;
    margin-right: -4px;
/* This is the only way I could get rid of the spacing between inline-block elements.*/
}

.kaleidoscope {
    height: 320px;
    width: 320px;
}

#met {
    height: 320px;
    width: 320px;
}

.italics {
    font-style: italic;
}
